<nav id="navbar-container">
    <a id="navbar-brand" href="#">
        <img src="assets/img/gesture-tap.png" width="30" height="30" alt="">
    </a>




    <div id="navbar-content">

        <div id="searchbox-container">
            <input id="searchbox" type="text" placeholder="SEARCH" #searchBox (keyup)="search(searchBox.value)" aria-label="Search">
        </div>
    </div>

    <div id="counter-container">
        <p id="counter">
            {{this.favCounter}}
        </p>
    </div>

</nav>

<div *ngIf='(searchResults.length > 0) &&  (selectionMade === false)'>
    <p *ngFor='let result of searchResults'>
        <a id='{{result.artistId}}' (click)="selectArtist(result.artistId,result.artistName)" href='#'>{{result.artistName}}</a>
    </p>
</div>