<div *ngIf='selectionMade' id="songs-container">
    <div *ngFor='let result of songResults' class="song">
        <div class="img-container">
            <img class="album-art" src="{{ result.artworkUrl100}}">
        </div>
        <div class="text-content">
            <p class="song-name">
                {{ result.trackName }}
            </p>
            <p class="album-name">
                {{ result.collectionName }}
            </p>
            <div class="fav-button">
                <img *ngIf='result.favorite' src="assets/img/heart-clicked.png" (click)=toFavorites(result)>
                <img *ngIf='!result.favorite' src="assets/img/heart-unclicked.png" (click)=toFavorites(result)>
            </div>
        </div>
    </div>
</div>